OIDC_ISSUER_URL=https://demo.dorvis.eu/oidc
OIDC_CLIENT_ID=dorvis_demo_post
OIDC_CLIENT_SECRET=dorvis_demo_secret
OIDC_REDIRECT_URL=http://localhost:3000/callback
ACR_VALUES=Swedbank,Seb,Luminor,Citadele,eParaksts,eParaksts-mobile,Smartid